Repository hextion/npm-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint --max-warnings 0

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --list-different", "git add"],
  "*.js": ["prettier --list-different", "eslint --max-warnings 0", "git add"]
}

Added format script
  package.json
Due: prettier --list-different

Added format:fix script
  package.json
Due: prettier --list-different

Added lint script
  package.json
Due: prettier --list-different

Added lint:fix script
  package.json
Due: prettier --list-different

Refactored lint-staged config
  .lintstagedrc.json
  lint-staged.config.js
Due: prettier --list-different, eslint --max-warnings 0

Fixed lint:fix script
  package.json
Due: prettier --list-different

Fixed format:fix script
  package.json
Due: prettier --list-different

Sorted package.json keys
  package.json
Due: prettier --list-different

Fixed lint-staged config
  lint-staged.config.js
Due: prettier --list-different, eslint --max-warnings 0

Updated package description
  package.json
Due: prettier --list-different

Updated license
  LICENSE
Due: none

License is md file
  LICENSE.md
Due: prettier --list-different

Updated .gitignore
  .gitignore
Due: none

Updated ignored files
  .gitignore
  .prettierignore
Due: none

Updated .prettierignore
  .prettierignore
Due: none

Bumped eslint-config-prettier version
  package-lock.json
  package.json
Due: prettier --list-different

Bumped lint-staged version
  package-lock.json
  package.json
Due: prettier --list-different

Updated package-lock.json
  package-lock.json
Due: prettier --list-different

Updated npm dependencies
  package-lock.json
  package.json
Due: prettier --list-different

Removed package-lock.json
  .gitignore
  .npmrc
  package-lock.json
Due: prettier --list-different
